@media screen and (min-width: 480px) {
	/* --------------Header-------------- */

	.burger-link {
		font-size: 36px;
	}

	.burger-tel {
		font-size: 36px;
	}

	.burger-mail {
		font-size: 20px;
	}

	/* --------------Modal--------------- */

	.modal {
		width: 408px;
	}

	/* --------------Form--------------- */

	.textarea {
		height: 120px;
	}

	.form-label-checkbox {
		font-size: 12px;
		line-height: 1.33;
	}

	.modal-form-btn {
	padding: 16px 32px;
}
}
