@media screen and (min-width: 480px) {
	/* --------------Header-------------- */
	
	.burger-link {
		font-size: 36px;
	}

	.burger-tel {
		font-size: 36px;
	}

	.burger-mail {
		font-size: 20px;
	}

	/* --------------Modal--------------- */

	.modal {
		width: 408px;
	}
}
