:root {
	--primary-text-bg-color: #2e2f42;
	--hero-title-text-color: #ffffff;
	--primary-bg-color: #ffffff;
	--description-tel-mail-color: #434455;
	--primary-border-color: #e7e9fc;
	--bg-btn-foot-color: #f4f4fd;
	--accent-color: #4d5ae5;
	--accent-color-2: #404bbf;
	--secondaty-font: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	background-color: var(--primary-bg-color);
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--primary-text-bg-color);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

@media screen and (min-width: 480px) {
	.container {
		max-width: 428px;
		padding: 0 16px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.team .container {
		max-width: 296px;
	}
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.team .container,
	.company .container,
	.footer .container {
		max-width: 584px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1158px;
	}
}

/* ---------HEADER----------- */

.header {
	border-bottom: 1px solid var(--primary-border-color);
}

.header .container {
	display: flex;
	justify-content: space-between;
}

.header-navigation {
	display: flex;
	align-items: center;
}

.heder-logo {
	padding: 24px 0;

	font-family: var(--secondaty-font);
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
}

.logo-one {
	color: var(--accent-color);
}

.logo-two {
	color: var(--primary-text-bg-color);
}

.heder-logo:focus {
	color: var(--accent-color);
}

.header-list,
.header-contact {
	display: none;
}

/* -----burger menu----- */

.menu-toggle {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
}

.burger-icon-open {
	fill: #2e2f42;
}

.menu-container {
	padding: 40px;

	width: 100vw;
	height: 100vh;

	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	background-color: var(--primary-bg-color);
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

	z-index: 999;

	overflow-y: scroll;

	transform: translateY(100%);
	transition: transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
	transform: translateY(0%);
}

.menu-container.menu-toggle-close {
	position: absolute;
	top: 16px;
	right: 16px;
}

.menu-toggle-close {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-left: auto;
	margin-bottom: 16px;

	width: 24px;
	height: 24px;
	border-radius: 50%;

	background-color: #e7e9fc;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: rgb(0, 0, 0);

	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle-close:is(:hover, :focus) {
	background-color: var(--accent-color-2);
	color: var(--hero-title-text-color);
}

.modal-icon {
	fill: currentColor;
}

.burger-list {
	margin-bottom: 284px;
}

.burger-item:not(:last-child) {
	margin-bottom: 40px;
}

.burger-link {
	padding: 20px 0;

	font-weight: 700;
	font-size: 26px;
	line-height: 1.11;

	color: var(--primary-text-bg-color);
}

.burger-contact {
	margin-bottom: 48px;
}

.burger-contact-item:not(:last-child) {
	margin-bottom: 40px;
}

.burger-tel {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.11;

	color: var(--accent-color);
}

.burger-mail {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;

	color: var(--description-tel-mail-color);
}

.burger-link.current {
	color: var(--accent-color);
}

/* -----------HERO-------------- */

.hero {
	padding: 112px 0;

	max-width: 1440px;
	height: 432px;
	background-image: radial-gradient(
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)
		),
		url("../images/hero-bg-mobile.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	background-color: var(--primary-text-bg-color);
}

@media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
	.hero {
		background-image: radial-gradient(
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)
			),
			url("../images/hero-bg-mobile-2x.jpg");
	}
}

.hero .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-title {
	margin-bottom: 72px;
	max-width: 319px;
	text-align: center;

	font-size: 36px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	color: var(--hero-title-text-color);
}

.hero-btn {
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	padding: 16px 32px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--hero-title-text-color);
	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:is(:hover, :focus) {
	background-color: var(--accent-color-2);
}

/* --------------ABOUT-------------- */

.about {
	padding: 96px 0;
}

.about-icon {
	display: none;
}

.about-item {
	width: 100%;
}

.about-item:not(:last-child) {
	margin-bottom: 72px;
}

.about-title {
	margin-bottom: 8px;

	text-align: center;
	font-size: 36px;
	line-height: 1.1;
	font-weight: 700;
}

.about-description {
	font-weight: 700;

	color: var(--description-tel-mail-color);
}

/* --------------WORKING-------------- */

.section.working {
	display: none;
}

/* --------------TEAM-------------- */

.team {
	background-color: var(--bg-btn-foot-color);

	padding: 96px 0 128px;
}

.team-title {
	margin-bottom: 72px;

	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	font-weight: 700;
	color: var(--primary-text-bg-color);
}

.team-item {
	max-width: 264px;

	background: var(--primary-bg-color);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
	margin-bottom: 72px;
}

.team-content {
	text-align: center;
	padding: 32px 0;
}

.team-subtitle {
	margin-bottom: 8px;

	font-size: 20px;
	line-height: 0.83;
	letter-spacing: 0.02em;
}

.team-description {
	font-weight: 400;
	color: var(--description-tel-mail-color);

	margin-bottom: 8px;
}

.team-social-list {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.team-sicial-item {
	width: 40px;
	height: 40px;
}

.team-social-link {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--accent-color);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:is(:hover, :focus) {
	background-color: var(--accent-color-2);
}

/* -------------company------------- */

.company {
	padding: 96px 0;
}

.company-title {
	margin-bottom: 72px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	color: var(--primary-text-bg-color);
}

.company-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.company-item {
	width: calc((100% - 16px) / 2);
	height: 88px;
}

.company-item:nth-child(-n + 4) {
	margin-bottom: 72px;
}

.company-link {
	display: flex;
	align-items: center;
	justify-content: center;

	border: 1px solid #8e8f99;
	border-radius: 4px;
	width: 100%;
	height: 100%;

	color: #8e8f99;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-icon {
	fill: currentColor;
}

.company-link:is(:hover, :focus) {
	border-color: var(--accent-color-2);
	color: var(--accent-color-2);
}

/* ----------FOOTER---------- */

.footer {
	padding: 96px 0;

	background-color: var(--primary-text-bg-color);
}

.footer-block {
	max-width: 268px;

	margin: 0 auto 72px;
}

.footer-logo {
	display: block;
	max-width: 117px;

	margin: 0 auto 16px;
}

.footer-logo .one,
.footer-logo .two {
	font-family: var(--secondaty-font);
	font-weight: 800;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.footer-logo .one {
	color: var(--accent-color);
}

.footer-logo .two {
	color: var(--bg-btn-foot-color);
}

.footer-logo:focus {
	color: var(--accent-color-2);
}

.footer-description {
	color: var(--primary-border-color);
}

.footer-sicial-block {
	margin-bottom: 72px;
}

.footer-title {
	margin-bottom: 16px;

	text-align: center;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: var(--hero-title-text-color);
}

.footer-social-list {
	display: flex;
	max-width: 208px;

	margin: 0 auto;
	gap: 16px;
}

.footer-sicial-item {
	width: 40px;
	height: 40px;
}

.footer-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	outline: none;

	background-color: rgba(255, 255, 255, 0.1);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:is(:hover, :focus) {
	background-color: rgb(49, 208, 170);
}

.footer-input {
	width: 100%;
	height: 40px;

	margin-bottom: 16px;
	padding-left: 16px;
	background-color: var(--primary-text-bg-color);

	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);

	font-family: "Roboto", sans-serif;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;

	color: rgba(255, 255, 255, 0.6);
	outline: none;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:is(:hover, :focus) {
	border-color: var(--accent-color);
}

.footer-input:is(:hover, :focus)::placeholder {
	color: var(--hero-title-text-color);
}

.form-btn {
	display: flex;
	align-items: center;
	gap: 16px;

	margin: 0 auto;

	padding: 8px 24px;
	border-radius: 4px;
	border: none;
	cursor: pointer;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;

	color: var(--hero-title-text-color);
	background-color: var(--accent-color);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:is(:hover, :focus) {
	background-color: var(--accent-color-2);
}

.footer-form-icon {
	fill: currentColor;
}

/* --------------Modal--------------- */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);

	overflow-y: scroll;

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal {
	padding: 72px 16px 24px;

	width: 90%;

	border-radius: 4px;
	background-color: #fcfcfc;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 2px 1px rgba(0, 0, 0, 0.2);

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn-icon {
	position: absolute;
	top: 24px;
	right: 24px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 24px;
	height: 24px;
	border-radius: 50%;

	background-color: #e7e9fc;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: rgb(0, 0, 0);

	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-icon:is(:hover, :focus) {
	background-color: var(--accent-color-2);
	color: var(--hero-title-text-color);
}

.modal-icon {
	fill: currentColor;
}

/* --------------Form--------------- */

.form-title {
	font-weight: 500;

	text-align: center;
	margin-bottom: 16px;
}

.modal-form {
	display: flex;
	flex-direction: column;
}

.form-group {
	margin-bottom: 8px;

	position: relative;
}

.form-label {
	display: block;

	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;

	color: #8e8f99;
}

.form-input {
	width: 100%;
	height: 40px;

	font-size: 14px;
	color: var(--primary-text-bg-color);

	padding: 8px 38px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	outline: none;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:is(:hover, :focus) {
	border-color: var(--accent-color);
}

.form-icon {
	position: absolute;
	left: 19px;
	top: 70%;
	transform: translateY(-70%);

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	fill: var(--primary-text-bg-color);
}

.form-input:is(:hover, :focus) + .form-icon {
	fill: var(--accent-color);
}

.form-group-textarea {
	margin-bottom: 16px;
}

.textarea {
	display: block;
	height: 120px;

	padding: 8px 16px;

	resize: none;
}

.textarea::placeholder {
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;

	color: rgba(117, 117, 117, 0.5);
}

.form-group-checkbox {
	margin-bottom: 24px;
}

.form-label-checkbox {
	display: flex;
	align-items: baseline;

	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;

	color: #757575;
}

.form-label-checkbox span {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-right: 8px;
	min-width: 16px;
	min-height: 16px;

	border: 1.25px solid var(--primary-text-bg-color);
	border-radius: 2px;

	color: #fcfcfc;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checked-icon {
	fill: currentColor;
}

.form-checkbox:checked + .form-label-checkbox span {
	background-color: var(--accent-color-2);
	border-color: var(--accent-color-2);
}

.policy-link {
	color: var(--accent-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link:is(:hover, :focus) {
	color: var(--accent-color-2);
}

.modal-form-btn {
	display: block;
	margin: 0 auto;

	width: 169px;
	padding: 16px 32px;

	color: var(--hero-title-text-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;

	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:is(:hover, :focus) {
	background-color: var(--accent-color-2);
}

/* --------------Page 2------------ */

/* --------------BENEFITS-------------- */

.benefits {
	padding: 48px 0;
}

/* ----------Меню кнопок------- */

.btn-list {
	min-width: 270px;

	display: flex;
	flex-wrap: wrap;
	gap: 24px;

	margin-bottom: 48px;
}

.btn {
	padding: 8px 16px;

	background-color: var(--bg-btn-foot-color);
	border-radius: 4px;
	border: 1px solid var(--primary-border-color);

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--accent-color);

	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:is(:hover, :focus) {
	background-color: var(--accent-color-2);
	border-color: var(--accent-color-2);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	color: var(--hero-title-text-color);
}

/* ----------Картки послуг------- */

.benefits-list {
	display: flex;
	flex-wrap: wrap;
	gap: 48px;
}

.benefits-item {
	width: 100%;
}

.benefits-link {
	display: block;

	color: inherit;

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-link:hover {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.benefits-thumb {
	overflow: hidden;
	position: relative;
}

.benefits-thumb img {
	width: 100%;
}

.benefits-overlay {
	padding: 40px 32px 164px;

	color: var(--bg-btn-foot-color);
	background-color: var(--accent-color);

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	transform: translateY(100%);

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-link:hover .benefits-overlay {
	transform: translateY(0);
	opacity: 0.9;
}

.benefits-item .text {
	padding: 32px 16px;
	border: 1px solid var(--primary-border-color);
	border-top: none;
}

.benefits-item .text:hover {
	border: 0.5px solid var(--primary-border-color);
	border-top: none;
}

.benefits-subtitle {
	margin-bottom: 8px;

	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.benefits-description {
	font-weight: 500;
	color: var(--description-tel-mail-color);
}
